@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Trebuchet MS, Helvetica;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

footer{
    background-color: #2e3a44;
    display: flex;
    justify-content: center;
}

.main{
    padding: 90px 0;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 50px;
}

img{
    width: 30px;
    height: 30px;
}

a{
    text-decoration: none;
    color: white;
}

p{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: white;
}

.main-auth{
    margin-top: 300px;
}

.main-reg {
    margin-top: 180px;
}

.main-panel {
    margin-top: 640px;
}